<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>waner1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEB269DF1CA9E4FE00C00659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB269F81CA9E4FF00C00659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB26A031CA9E4FF00C00659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
